/*================
Tag Line Container
================*/
.tag-line-wrapping-container {
    background: linear-gradient(101.77deg, var(--clr-bg-primary) 37%, var(--clr-primary)90.9%);
    background-blend-mode: screen;

    margin-left: 0;
    margin-right: 0;
}

.tag-line-container .image-container {
    position: relative;
    width: 80%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}

.tag-line-container .image-container img {
    width: 100%;
    border-radius: 0.7rem;
    box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.25);
}

.tag-line-container .tag-line {
    position: absolute;
    left: -14.5%;
    top: 35%;
    margin: 0;
    padding: 0;
}

.tag-line-container .tag-line .big-heading-1 {
    line-height: 1.15;
}

.tag-line-container .tag-line .text-sub-heading {
    margin-top: 0.1rem;
}

.tag-line-container .tag-line .btn-container {
    margin: 1rem 0;
    padding-left: 0;
    padding-right: 0;
}

.tag-line-container .tag-line .btn-container button {
    margin-right: 1.3rem;
}

@media only screen and (max-width: 1500px) {
    .tag-line-container .image-container .tag-line {
        top: 30%
    }
}

@media only screen and (max-width: 1200px) {
    .tag-line-wrapping-container {
        background: linear-gradient(101.77deg, var(--clr-bg-primary) 30%, var(--clr-primary)95.9%);
    }

    .tag-line-container .image-container .tag-line .big-heading-1 {
        font-size: 3.9rem;
    }

    .tag-line-container .image-container .tag-line .big-heading-2 {
        font-size: 6.3rem;
    }
}

@media only screen and (max-width: 1024px) {
    .tag-line-container .image-container .tag-line {
        top: 27%
    }

    .tag-line-container .image-container {
        position: static;
    }

    .tag-line-container .tag-line {
        position: static;
        left: 0;
        margin: 0.5rem;
        padding: 0.5em;
    }
}

@media only screen and (max-width: 768px) {   
    .tag-line-wrapping-container {
        background: linear-gradient(101.77deg, var(--clr-bg-primary) 30%, var(--clr-primary)100.9%);
    }

    .tag-line-container .image-container {
        width: 90%;
    }

    .tag-line-container .image-container .tag-line {
        left: 5%;
    }
}

@media only screen and (max-width: 550px) {
    .tag-line-container .tag-line .big-heading-1 {
        font-size: 3.7rem;
    }

    .tag-line-container .tag-line .big-heading-2 {
        font-size: 6.1rem;
    }

    .tag-line-container .tag-line .heading {
        font-size: 2.5rem;
    }
 }

/*================
Carousel Container
================*/
.carousel-container h5 {
    font-family: var(--ff-secondary);
    font-weight: var(--ff-secondary-regular);
}

.carousel-container > div {
    /* padding-left: 0.3em;
    padding-right: 0.3em; */
}

.carousel-container div.image {
    border-radius: 0.7rem;
    /* box-shadow: 7px 7px 7px 1px rgba(255, 255, 255, 0.15); */
}

.carousel-container div.image.pr__image__cover {
    filter: grayscale(0%);
}

.carousel-container a.uk-position-center-left, 
.carousel-container a.uk-position-center-right {
    border-radius: 0.7rem;
    background-color: rgba(255, 0, 0, 0.3);
} 

.carousel-container .uk-slider-nav a {
    padding: 0;
    margin: 0;
}

 /*===============
Pricing Container
===============*/
.pricing-container .heading-container .sub-heading {
    margin-top: 0;
}

.pricing-container .price-container {
    width: 60%;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
}

.pricing-container .price-container .heading-container .text-heading {
    font-size: 2rem;
    line-height: 1.3;
}

.pricing-container .price-container .heading-container .text-heading .primary-color-text {
    font-size: 2.25rem;
    font-weight: var(--ff-primary-black);
}

.pricing-container .price-container hr {
    width: 90%;
    height: 2.1px;
    background-image: none;
    margin: 2rem 1rem;
    background-color: var(--clr-txt-secondary);
}

.pricing-container .price-container .heading-container,
.pricing-container .price-container .benefits-container {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
}

.pricing-container .price-container .benefits-container ul {
    padding: 1em;
    padding-top: 0;
    margin: 0;
}

.pricing-container .price-container .benefits-container ul li.text-sub-heading a {
    margin: 0;
    text-decoration: underline;
}

.pricing-container .price-container .primary-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1500px) {   
    .pricing-container .price-container {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {   
    .pricing-container .price-container {
        width: 80%;
        padding: 1em;
    }
}

@media only screen and (max-width: 768px) {   
    .pricing-container .price-container {
        width: 90%;
    }

    .price-container .price-container .benefits-container ul {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
}

@media only screen and (max-width: 411px) {   
    .price-container .price-container .benefits-container ul {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}